/*
2018-06-09
zhu
*/
	.nav-site{
		height: 44px;
		background: pink;
	}
	.nav-login{
		color: #ea675a;
	}
	.nav-left li{
		line-height: 44px;
		margin-right: 10px;
	}
	.nav-site .dropdown{
		position: relative;
	}
	.nav-site .dropdown .droptag{
		height: 44px;
		line-height: 44px;
		display: block;
		padding: 0 10px;
	}
	.nav-site .dropdown:hover .dropdown-layer{
		display: block;
	}
	.nav-site .dropdown .dropdown-layer{
		position: absolute;
		top:43px;
		background-color: #fff;
		display: none;
	}
	.nav-site .dropdown-arrow{
		margin-left: 5px;
	}
	.nav-site .menu-item{

		line-height: 30px;
		padding: 0 15px;
		display: block;
		white-space: nowrap;
	}
	.nav-site .menu-item:hover{
		background-color: #f3f5f6;
	}
	.menu-active .dropdown-layer{
		display: block;
	}
	.menu-active .droptag{
		background-color: #fff;
		border-left: 1px solid #f3f5f6;
		border-right: 1px solid #f3f5f6;
	}
	.nav-site .fr .dropdown{
		float: left;
	}

	/*
	.dropdown .dropdown-layer li:hover{
		background-color: #f3f5f6;
		border: 1px solid #f3f5f6;
	}
	.dropdown .dropdown-layer li{
		padding: 0 10px;
	}
	*/
/*顶部导航结束*/
/*头部开始*/

	.header{
		height: 100px;
		background: yellow;
	}
	.header-logo{
		width: 150px;
		height: 70px;
		display: block;
		background-image: url(../images/header-logo.png);
		background-repeat: no-repeat;
		background-size: 150px;
		margin-top: 36px;
	}

	/*搜索框*/

	.header .search{
		margin-top: 36px;
		margin-left: 150px;
	}
	
	.header .search-input{
		width: 400px;
		height: 40px;
		outline-width: 0px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.header .search-btn{
		width: 80px;
		height: 40px;
		border:none;
		box-sizing: border-box;
		border:1px solid #ccc;
		border-left: none;
		outline-width: 0px;
		cursor: pointer;
		background: black;
		color: #fff;
	}
	.header .search-layer{
		border: 1px solid #ccc;
		border-top: none;
		box-sizing: border-box;
	}
	.header .search-item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding:0 10px;
		box-sizing: border-box;
		background: #fff;
		cursor: pointer;
	}
	.header .search-item:hover{
		background: #f5f5f7;
	}
	*/
	/**/
	/**/
/*头部结束*/
/*主导航开始*/
	.nav-main{
		background:red;
	}
	.nav-main .link{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		margin-right: 20px;
	}
	.nav-main .link:nth-child(1){
		margin-left: 100px;
	}
/*主导航结束*/
/*主要内容开始*/
	.focus{
		height: 500px;
		background: blue;

	}
	.category{
		position: relative;
		width: 208px;
		margin-top: -54px;
	}
	.category-title{
		display: block;
		width: 100%;
		height: 54px;
		line-height: 54px;
		background-color: red;
		font-size: 14px;
		padding-left: 10px;
		box-sizing: border-box;
		color: #fff;
	}
	.category-title .icon{
		margin-right: 5px;
	}
	.category .dropdown-toggle{
		width: 100%;
		height: 50px;
		line-height: 50px;
		box-sizing: border-box;
		background-color: #ea675a;
	}
	.category .dropdown{
		position: static;
	}
	.category .dropdown-link{
		font-size: 14px;
		color: #fff;
		margin-left: 10px;
	}
	.category .dropdown-icon{
		position: absolute;
		font-size: 16px;
		right: 10px;
		color: #fff;
		font-style: normal;
	}
	.category .dropdown-layer{
		/*display: block;*/
		top: 54px;
		left: 100%;
		width: 780px;
		min-height: 504px;
		background-color: #fff;
		padding-bottom: 24px;
		box-sizing: border-box;
	}
	.category-details{
		overflow: hidden;
		margin-top: 24px;
		font-size: 14px;
		width: 780px;
	}
	.cate-title{
		width: 84px;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		border-left: 1px solid #ccc;

	}
	.cate-title-link{
		font-weight: bold;
	}
	.cate-item{
		width: 670px;
		line-height: 20px;
	}
	.cate-item .link{
		margin-left: 10px;
		display: inline-block;
	}
	.category-active .dropdown-toggle{
		background-color: #ccc;
	}
	.category-active .dropdown-link,
	.category-active .dropdown-icon{
		color:#ea675a;
	}
	.category .dropdown-loading{
		margin: 220px auto;

	}
	

	.focus .carousel-container,
	.focus .carousel-container .carousel-item img{
		width: 760px;
		height: 500px;
	}
	.focus-news {
		padding: 7px 20px 12px;
		background-color: #fff;
		border: 1px solid #d9dde1;
		border-bottom: none;
	}
	.focus-news-head {
		height: 38px;
		line-height: 38px;
	}
	.focus-news-title {
		color: #ea675a;
		font-size: 16px;
	}
	.focus-news-body {
		line-height: 28px;
	}
	.focus-service {
		background-color: #fff;
		border-left: 1px solid #d9dde1;
	}
	.focus-service-item {
		width: 61px;
		height: 71px;
		border-top: 1px solid #d9dde1;
		border-right: 1px solid #d9dde1;
		text-align: center;
	}
	.focus-service-icon,
	.focus-service-text {
		display: inline-block;
		width: 100%;
	}
	.focus-service-icon {
		margin-top: 17px;
		color: #f67272;
		font-size: 22px;
	}
	.focus-service-text {
		margin-top: 6px;
		color: #4d555d;
	}
/*主要内容结束*/
/*今日热销开始*/
	.todays{
		height: 158px;
		background-color: yellow;
		margin-top: 20px;
	}
	.today .carousel-container{
		width: 100%;
		height: 158px;
		z-index: 2;
		background-color:red;
	}
	.today .carousel-container .carousel-item img{
		width: 237px;
		height: 100%;
	}
	.today .carousel-item img{
		margin: 0;
	}
/*今日热销结束*/
/*楼层开始*/
	.floor{
		height: 670px;
		background-color: orange;
		margin-bottom: 10px;
	}
	.floor-hd{
		width: 100%;
		height: 70px;
		border-bottom: 2px solid red;
		margin-top: 20px;
	}
	.floor .floor-tit{
		height: 100%;

		height: 30px;
		line-height: 30px;
	}
	.floor .floor-tit-meu{
/* 		display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
font-size: 18px;
border: 1px solid #000;
border-radius: 50%;
text-align: center;
color: #fff;
background-color: #000;
margin-right: 5px;
 */
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		background: #000;
		color: #fff;
		font-size: 14px;
		text-align: center;
		border-radius: 50%;
		margin-right: 5px;
	}
	.floor .floor-tit-text{
		height: 100%;
		margin-top: 5px;
		font-size: 18px;
		font-weight: bold;
		display: inline-block;
		/* font-size: 16px;
		font-weight: bold;
		position: relative;
		top:2px;*/		
	}
	.floor .tab-item{
		display: inline-block;
		color: #000;
		font-size: 16px;
		margin-right: 10px;
	}
	.floor .tab-item:hover{
		color: #ea675a;
	}
	.floor .tab-item.tab-item-active{
		background: url(../images/floor-arrow.png) no-repeat center bottom;
		color: #ea675a;
	}
	.floor .floor-item li{
		display: inline-block;
		margin-top: 10px;
		height: 100%;
		font-size: 16px;
		color: #000;
	}
	/*
	.floor .floor-item{
		width: 200px;
		height: 70px;
		text-align: center;
		cursor: pointer;
	}
	*/
	.floor .floor-item:hover{
		box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	}	
	.floor-bd{
		width: 100%;
		height: 300px;
	}
	.floor-bd .tab-panel .tab-tit{
		width: 200px;
		height: 100%;
		margin-top: 10px;
	}	
	.floor-bd .tab-panel{
		display: none;
	}
	.floor-bd .tab-panel .tab-tit:hover{
		box-shadow: 0px 5px 10px rgba(0,0,0,0.3)
	}
	.tab-panel .tab-tit .tab-img{
		text-align: center;
	}
	.tab-panel .tab-tit .tab-img img{
		width: 170px;
	}
	.tab-panel .tab-ren{
		font-size: 14px;
		color: #000;
		text-align: center;
	}
	.tab-panel .tab-men{
		font-size: 14px;
		color: red;
		text-align: center;
		margin-top: 5px;
	}
	.floor .container{
		position: relative;
		z-index: 2;
	}

	/*楼层结束*/
	/*电梯elevator开始*/
	.elevator{
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -680px;
	}
	.elevator-item{
		display: block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-top: 1px solid #000;

	}
	.elevator-item:hover .elevator-item-num,
	.elevator-active .elevator-item-num{
		display: none;
	}
	.elevator-item:hover .elevator-item-text,
	.elevator-active .elevator-item-text{
		display: block;
		color: red;
	}
	.elevator-item-text{
		display: none;
	}
	.elevator-item,
	.elevator-item-text{
		font-size: 24px;
		color: #000;
		text-align: center;
	}

	/*电梯elevator结束*/
	/*工具栏*/
	.toolbar{
		position: fixed;
		top: 50%;
		right: 0;
		margin-top: -102px;
	}
	.toolbar-item{
		position: relative;
		display: block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background: pink;
		color: #fff;
		margin-bottom: 2px;
	}
	.toolbar-icon{
		width: 60px;
		height: 60px;
		line-height: 60px;
		background:pink;
		position: relative;
		z-index: 2;
	}
	.toolbar-text{
		width: 60px;
		height: 60px;
		line-height: 60px;
		background: pink;
		position: absolute;
		left:0;
		top:0;
		z-index: 1;
	}
	.toolbar-item:hover .toolbar-text{
		left:-60px;
		background: #ea675a;
	}
	.toolbar-item:hover .toolbar-icon{
		background: #ea675a;
	}