
.nav{
	height: 50px;
	line-height: 50px;
	background-color:#f2f2f2;
}
.header-logo{
	color: red;
}
.nav .user-info{
	float: left;
}
.nav .nav-list{
	float: right;
}
.nav-list .nav-item{
	float: left;
}
