

.pagination{
	text-align: center;
}
.page-item{
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #000;
	cursor: pointer;
	margin-top: 20px;
	user-select: none;
}
.page-item:hover{
	background-color: rgb(0,0,0,0.1);
}
.disabled{
	color: #aaa;
	border-color: #fff;
	cursor: auto;
}
.pagination-btm{
	display: inline-block;
	margin-left: 15px;
	font-size: 16px;
}
.active{
	border: 1px solid #fff;
	color: #fff;
	background-color:rgb(0,0,0,0.3);
}