

.form-item{
	height: 30px;
	line-height: 30;
	font-size: 15px;
}
.label-item{
	display: inline-block;
	width: 100px;
	text-align: right;

}
.content-item{
	display: inline-block;
	width: 400px;
	padding-left: 40px;
}