<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	     <a class="navbar-brand" href="#">我的个人博客</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="top-nav">
	      <ul class="nav navbar-nav" id = "zk-log">
	        <li class="active"><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
	        <li><a href="bloglist.html">HTML/CSS</a></li>
	        <li><a href="blogjs.html">Javascript</a></li>
	        <li><a href="#">学无止境</a></li>
	        <li><a href="memory.html">我的足迹</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}{% endblock %}
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					
					{% if userInfo._id %}<!-- //登录的情况下,没有cookie信息 -->
						<div class="user-panel" id='user-info'>
							欢迎<span>{{ userInfo.username }}</span>
							{% if userInfo.isAdmin %}
							<a href="/admin" class = "link">管理员</a>
							{% else %}
							<a href="/center" class = "link">用户</a>
							{% endif %}
							<a class="link" href="javascript:;" id='userout'>退出</a>
						</div>							
					{% else %}<!-- //没有登录的情况下 -->
					<form class="form-horizontal denglu" id = "login">
					  <div class="form-group">
					    <label class="col-sm-4 control-label" >用户名</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" name = "username"  placeholder="用户名">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-4 control-label" >密码</label>
					    <div class="col-sm-6">
					      <input type="password" class="form-control" name = "password" placeholder="密码">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-4 col-sm-6">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox"> Remember me
					        </label>
					      </div>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-4 col-sm-6">
					    	<a href="javascript:;" class="btn btn-default" id = "sub-btn">提交</a>
					    	<a href="javascript:;" class = "get-register">免费注册</a>

					    </div>
					  </div>
				  	  <div class="form-group">
					    <div class="col-sm-12">
					      <p class="text-danger err"></p>
					    </div>
					  </div>
					</form>
					<form class="form-horizontal denglu" style="display: none;" id = "register">
					  <div class="form-group">
					    <label class="col-sm-4 control-label">用户名</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" name = "username" placeholder="Email">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-4 control-label">密码</label>
					    <div class="col-sm-6">
					      <input type="password" class="form-control" name = "password" placeholder="Password">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-4 control-label">重复密码</label>
					    <div class="col-sm-6">
					      <input type="password" class="form-control" name = "respassword" placeholder="Password">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox"> Remember me
					        </label>
					      </div>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-4 col-sm-6">
					    	<a href="javascript:;" class="btn btn-default" id = "sub-register">提交</a>
					    	<a href="javascript:;" class = "get-login">已完成注册</a>

					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<p class = "text-danger err"></p>
					    </div>
					  </div>
					</form>
					{% endif %}
				  	<div class="ad">
				  		<a href="#" class = "ad-tit">
				  			<img src="images/flo.jpg" class="img-responsive" alt="Responsive image">
				  		</a>
				  		<a href="#">
				  			<img src="images/flo1.jpg" class="img-responsive" alt="Responsive image">
				  		</a>
				  	</div>
					<div class="panel panel-default content-right">
					  <div class="panel-heading">
					    <h3 class="panel-title">博主介绍</h3>
						</div>
						<div class="panel-body" id = "content-right-user">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class = "kaim-img" src="images/pite.jpg" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-header">Kaim</h4>
									90后草根！17年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default content-right">
					  <div class="panel-heading">
					    <h3 class="panel-title">点击排行</h3>
						</div>
						<div class="panel-body" id = "content-right-click">
							<ul class = "list-group">
								<li class = "list-item">深入了解 Bootstrap底层结构的关键部分</li>
								<li class = "list-item">深入了解 Bootstrap底层结构的关键部分</li>
								<li class = "list-item">深入了解 Bootstrap底层结构的关键部分</li>
								<li class = "list-item">深入了解 Bootstrap底层结构的关键部分</li>
								<li class = "list-item">深入了解 Bootstrap底层结构的关键部分</li>
								<li class = "list-item">深入了解 Bootstrap底层结构的关键部分</li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default content-news">
					  <div class="panel-heading">
					    <h3 class="panel-title">关注我</h3>
						</div>
						<div class="panel-body">
							<img src="images/wei.jpg" alt="">
						</div>
					</div>		
			  	</div>						
			</div>
		</div>
	</div>
	<footer>
    	<p>Blog Design by <a href="#">Kuazhu</a> <a href="#">豫ICP备11002373号-1</a>.</p>
    </footer>
</body>
<script src="lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src = "/js/index.js"></script>
</html>