

.user-info{
	margin-top: 10px;
	margin-right: 40px;
}
.blog-list{
	margin-top: 5px;
}
.blog-menu li:hover{
	background: blue;
}
table.table {
	table-layout: fixed;
}
td{
	word-break: break-word;
}
.btn-add{
	margin-top: 10px;
}
.row-site{
	margin-bottom: 10px;
}
