
/**/
ul li{
	list-style: none;
}
.product-title li,
.product-item li,
.product-footer li{
	float: left;
}
.product-title,
.product-item,
.product-footer{
	padding-left: 10px;
	box-sizing: border-box;
}
.product-title{
	height: 40px;
	line-height: 40px;
	background-color: #ddd;
	margin-bottom: 20px;
}

.product-item .product-info img{
	width: 60px;
	height: 60px;
	vertical-align: middle;
}
.product-footer{
	/*border: 1px solid #ddd;*/
	height: 40px;
	line-height: 40px;
}
.product-footer .product-submit{
	float: right;
}
.product-item{
	height: 80px;
	line-height: 80px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.product-select{
	width: 6%;
}
.product-info{
	width: 54%;
}
.product-price{
	width: 10%;
}
.product-count{
	width: 10%;
}
.product-totalPrice{
	width: 10%;
}
.product-edit{
	width: 10%;
}
.btn-count{
	cursor: pointer;
	font-size: 20px;
}
.btn-submit{
	display: inline-block;
	text-align:center;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: red;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.product-item .product-info img{
	width: 60px;
	height: 60px;
	vertical-align: middle;
}
.delete-selected{
	cursor: pointer;
	user-select: none;
}
.product-item .product-count input{
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	outline: none;
}
