<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<%=require('html-loader!./common/logo.html') %>
	<div class="form">
		<div class="container">
			<div class="form-box">
				<h2 class="title">用户注册</h2>
				<div class="error-item">
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					<p class="error-msg">err</p>
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-user-circle" aria-hidden="true"></i>
					</lable>
					<input type="text" class="form-content" name="username" placeholder="请输入用户名">
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-bath" aria-hidden="true"></i>
					</lable>
					<input type="password" class="form-content" name="password" placeholder="请输入密码">
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-bath" aria-hidden="true"></i>
					</lable>
					<input type="password" class="form-content" name="repassword" placeholder="请再次输入密码">
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-bath" aria-hidden="true"></i>
					</lable>
					<input type="text" class="form-content" name="phone" placeholder="请输入手机号">
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-bath" aria-hidden="true"></i>
					</lable>
					<input type="text" class="form-content" name="email" placeholder="请输入邮箱">
				</div>
				<div class="btn-item">
					<a href="javascript:;" class="btn btn-submit" id="form-sub-btn">提交</a>
				</div>
				<div class="link-item">
					<a href="./login.html" class="link">已有账号去登录</a>
				</div>
			</div>
		</div>
	</div>
	<%=require('html-loader!./common/footer.html') %>
</body>
</html>