<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>	
	<%= require('html-loader!./common/search.html') %>
	<div class="user-page">
		<div class="container">
	<%= require('html-loader!./common/side.html') %>
			<div class="side-content">
			<div class="form-box">
				<h2 class="title">修改密码</h2>
				<div class="error-item">
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					<p class="error-msg">err</p>
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-bath" aria-hidden="true"></i>
					</lable>
					<input type="password" class="form-content" name="password" placeholder="请输入密码">
				</div>
				<div class="form-item">
					<lable class="form-lable">
						<i class="fa fa-bath" aria-hidden="true"></i>
					</lable>
					<input type="password" class="form-content" name="repassword" placeholder="请再次输入密码">
				</div>
				<div class="btn-item">
					<a href="javascript:;" class="btn btn-submit" id="form-sub-btn">提交</a>
				</div>
			</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html') %>	
</body>
</html>